// colors
$brand-blue: #5d83c2
$brand-pink: #CB416E
$brand-yellow: #ECFF21
$brand-purple: #682163
$brand-orange: #DD8865
$brand-lime: #CADA2A

// google blue-grey pallete
$white: #fff
$grey-50: #ECEFF1
$grey-100: #CFD8DC
$grey-200: #B0BEC5
$grey-300: #90A4AE
$grey-400: #78909C
$grey-500: #607D8B
$grey-600: #546E7A
$grey-700: #455A64
$grey-800: #37474F
$grey-900: #263238

/* Structure */
$padding-small-vertical: 5px
$padding-base-vertical: $padding-small-vertical*2
$padding-large-vertical: $padding-base-vertical*2

$padding-small-horizontal: 4px
$padding-base-horizontal: $padding-small-horizontal*2
$padding-large-horizontal: $padding-base-horizontal*2


// border radius
@mixin border-radius($radius: 6)
  border-radius: $radius

// fonts
@mixin font-title($size)
  font-family: 'Abel', Arial, Helvetica, sans-serif
  font-size: $size
  font-weight: 400
  text-align: center
  line-height: $size*0.85

@mixin font-highlight
  color: $brand-blue

  &:hover
    color: $brand-purple

@mixin font-paragraph($size: 22px)
  font-family: 'Open Sans', sans-serif
  font-weight: 300
  font-size: $size
  line-height: $size/.68
  font-style: italic

@mixin font-bold($size)
  font-family: 'Open Sans', sans-serif
  font-weight: 700
  font-style: italic
  font-size: $size


// media breakpoints
@mixin respond-to-md
  @media all and (max-width: 990px)
    @content

@mixin respond-to-sm
  @media all and (max-width: 768px) 
    @content

@mixin respond-to-xs
  @media all and (max-width: 640px) 
    @content


// transitions
@mixin smooth-transition
  -webkit-transition: all 0.3s ease
  -moz-transition:    all 0.3s ease
  transition: all 0.3s ease