doctype html
html
  head
    title Jefferson Moura | FrontEnd Developer
    meta name="keywords" content="dimoura frontend front end developer angular polymer sass css3"
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta content="width=device-width, initial-scale=1" name="viewport"

    link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600italic|Abel' rel='stylesheet' type='text/css'
    link rel="stylesheet" media="screen" href="css/bootstrap.min.css"
    link rel="stylesheet" media="screen" href="css/bootstrap-theme.min.css"
    link rel="stylesheet" media="screen" href="css/resume.css"
    script type="text/javascript" src="js/application.js"

  body
    header.header: .container
      .cover
        h1  Sup! My name is <mark>Jefferson Moura</mark> and I'm a Front End Developer =)
        ul.social-shares
          li: a Linkedin
          li: a Twitter
          li: a GitHub
          li: a Email
      
      nav
        .profile-avatar: img src="images/jeff-photo.png"
        ul.nav.pull-right
          li: a Sumary
          li: a Skills
          li: a Experiences
          li: a Education
  
    .container
      section#sumary
        h1 Hey traveller! =)
        p I'm a self motivated and passionate developer that would like to change the world some day, and till it doesn't happens I've been trying to change part of it every day.
        p The projects that I'm more proud is 99jobs.com and techdascoisas.com.br, where I could put my desires and skills to work together to reach peoples life.
        p I've been working on lot of places since I discovered this amazing world that develop things is, and I'll be more than happy to talk with you, dear reader if you've got an amazing idea us to develop together =)
        p If you would like to know me more, or my projects, call me! (maybe xD... sorry I had need to do this awful joke):
      
      section#skills
        .charts.chart-doughnut#chart-frontend: canvas
        .charts.chart-doughnut#chart-backend: canvas
        .charts.chart-doughnut#chart-manager: canvas

        
        p As a Front End I have knowledge on:
        ul.skill-list
          li Css / Css 3
          li Sass
          li Html / Html 5
          li Javascript
          li Coffee
          li AngularJs
          li Json requests
          li Jasmine
          li Wordpress
          li Woocommerce
          li Adobe Creative Suite
          li Sketch

        p As a Backend learner I have some skills on:
          li Php
          li Laravel
          li Ruby [on Rails]
          li .Net [knowledge of the language]
          li MySql
          li PostgreSQL

        p As person and continuous learner I've some interestes on:
          li Ux/Ui Design
          li Motion Graphic
          li Roller Skating
          li Books
          li Books (yeah! really like them)

      section#experiences
        .row.experience
          .col-sm-3
            / Include logo
            h1#volunteer-olympia
              | Olympia School
              mark 2008 - 2012
            p rule: Instructor

          .col-sm-9
            p • Taught and coached some needy children in volleyball, soccer, basketball and table tennis
            p • Organized parties for fundraising
            p • Taught guitar and keyboard for needy children
            p • Taught basic English to children and adolescents
            p • Made an introduction program to computing for seniors.

        .row.experience
          .col-sm-3
            / Include logo
            h1#volunteer-olympia
              | Nazareno’s Church
              mark 2002 - 2006
            p rule: Instructor

          .col-sm-9
            p • Helped form the social character of children with low income
            p • Applied physical activity short and long reach
            p • Managed some summer camps and recreation
            p • Taught guitar for some children in this same project
            p • Advised some children who had family problems
            p • Was the link between the child and the school, encouraging study and incentivizing personal growth.

        .row.experience
          .col-sm-3
            / Include logo
            h1#company-99jobs
              | 99jobs
              mark 2014 - current
            p rule: Front End Developer

          .col-sm-9
            p • Working on a huge plataforma that connects what people loves with their desired jobs
            p • Making a lot of changes on the guide and implement twitter bootstrap all the way up
            p • Developing features for A/B tests and learning how to do fast changes to enhance the approach with the costumer
            p • Learning who to use SEO for better implement of big data
            p • Loving to change the world through my codes <3

        .row.experience
          .col-sm-3
            / Include logo
            h1#company-dimoura
              | diMoura
              mark 2006 - current
            p rule: Project manager

          .col-sm-9
            p • Create a nice ambient for developers grow and develop well
            p • Enhance client and agency communication for better understanding and to avoid redoing tasks
            p • Develop of strong process of work, to enhance qualify of life of the developers and never delay a job
            p • Manage clients acquisitions

        .row.experience
          .col-sm-3
            / Include logo
            h1#company-lampejos
              | Lampejos
              mark 2009 - 2014
            p rule: Fullstack Developer PhP

          .col-sm-9
            p • Create applications and websites all the way!
            p • Develop new frameworks to help the code performance
            p • Build websites based on wordpress and datapost (agency's cms)
            p • Build Frontend structures for others backend developers


      section#education
        .row.education
          .col-sm-3
            h2
              i.fa.fa-heart
              | Formal Education
            ul.education-list
              li
                h3 João 23 [highschool] - Brazil
                | till <time datetime="2006">2006</time>
              li
                h3 F.A.A.L. [Graduation] - Brazil
                | till <time datetime="2010">2010</time>
                a href="#" Transmedia Storytelling for advergames (in portuguese)

          .col-sm-3
            h2
              i.fa.fa-heart
              | Professional goals
            ul.education-list
              li
                h3 Css Design Awards - VillaScamboo 
                | Nominee <time datetime="2011">2011</time>
              li
                h3 Css Design Awards - VillaScamboo 
                | 3rd Place <time datetime="2011">2011</time>
          .col-sm-3
            h2
              i.fa.fa-heart
              | Personal Formation
            ul.education-list
              li
                h3 Financial Coach
                | Since <time datetime="2014">2011</time>
              li
                h3 Career Coach
                | Since <time datetime="2015">2011</time>
          .col-sm-3
            h2
              i.fa.fa-heart
              | Researchs and Papers
            ul.education-list
              li
                h3 Transmedia Storytelling for advergames
                a href="#" link, published <time datetime="2014">2011</time>
              li
                h3 10 bons costumes para se dar bem em sua equipe 
                a href="http://techdascoisas.com.br/10-bons-costumes-para-se-dar-bem-em-sua-equipe
" published: <time datetime="2015-08">Agosto - 2015</time>

